@model Dassanie.Models.AlertVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Alert</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AlertId" />
            <label class="control-label">Target User</label>
            <div name="TwitterFollowreBox" style="display: block; width:25em; height:25em; overflow-x:hidden; overflow-y:scroll;">
                @foreach (var follower in Model.Followers)
                {
                    @if (follower.UserIDResponse == Model.SelectedFollower.ToString())
                    {
                        <div style="display: block; margin-left: 1em; margin-right:1em;"><input type="radio" asp-for="FollowerName" value="@follower.UserIDResponse:@follower.Name" checked /> <label><img src="@follower.ProfileImageUrlHttps" alt="@follower.ScreenNameResponse" /> @follower.ScreenNameResponse</label></div>
                    }
                    else
                    {
                        <div style="display: block; margin-left: 1em; margin-right:1em;"><input type="radio" asp-for="FollowerName" value="@follower.UserIDResponse:@follower.Name" /> <label><img src="@follower.ProfileImageUrlHttps" alt="@follower.ScreenNameResponse" /> @follower.ScreenNameResponse</label></div>
                    }

                }
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IncludeLink" /> @Html.DisplayNameFor(model => model.IncludeLink)
                </label>
            </div>
            <div class="form-group">
                <label class="control-label">Trigger Words</label>
                <input type="text" name="TriggerWords" value="@Model.AlertWords"/>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
